<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../style.css">
<title>title</title>
</head>
<body>

<section class="main">
    <h1>title</h1>
    <h2>sub title</h1>

    <footer>
        <p><a href="ddg.gg">some link</a></p>
        <p><a href="ddg.gg?q=query">another link</a></p>
    </footer>
</section>

<section>
    <header>
        <p>a header</p>
    </header>

    <h1>another title</h1>
    <h2>another sub title</h1>
    <p>paragraph1</p>
    <p>paragraph2</p>
    <ul>
    <li>thing 1</li>
    <li>thing 2</li>
    <li>thing 3</li>
    </ul>

    <!--
    speaker notes
    -->
</section>

<section style="background-image: url(image.jpg)">
    <h1>a slide with some cool covering background</h1>
    <p>*eeemmm*</p>

    <!--
    more speaker notes
    -->
</section>

<section>
    <h1>slide with code</h1>
    <p>here's some <code>inline code</code></p>
    <pre><code>if (true) {
    print&ltstring&gt("yes");
}</code></pre>

    <!--
    don't forget to comment the code!
    -->
</section>

<section>
    <h1>all links</h1>
    <a href="ddg.gg">some link</a>
    <a href="ddg.gg?q=query">another link</a>

    <!--
    adding a `!!` will expand all previous links in this slide with the text following it as the title
    -->
</section>

</body>
</html>
