<!DOCTYPE html>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../style.css">
<title>presentation title</title>

<main>
	<h1>title</h1>
	<h2>sub title</h2>

	<footer>
		<p>footer <a href="ddg.gg">some link</a>
	</footer>
</main>

<section>
	<header>
		<p>a header
	</header>

	<h1>another title</h1>
	<h2>another sub title</h2>

	<p>span1
	<p>span2

	<ul>
		<li>thing 1
		<li>thing 2
		<li>thing 3
	</ul>
</section>

<section style="background-image: url(image.jpg)">
	<h1>a slide with some cool covering background
</section>
