<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../style.css">
<title>title</title>
</head>
<body>

<section class="main">
    <h1>title</h1>
    <h2>sub title</h2>

    <footer>
        <p><a href="ddg.gg">some link</a></p>
    </footer>
</section>

<section>
    <header>
        <p>a header</p>
    </header>

    <h1>another title</h1>
    <h2>another sub title</h2>
    <p>paragraph1</p>
    <p>paragraph2</p>
    <ul>
    <li>thing 1</li>
    <li>thing 2</li>
    <li>thing 3</li>
    </ul>
</section>

<section style="background-image: url(image.jpg)">
    <h1>a slide with some cool covering background</h1>
    <p>*eeemmm*</p>
</section>

<section>
    <h1>slide with code</h1>
    <p>here's some <code>inline code</code></p>
    <pre><code>if (true) {
    print("yes");
}</code></pre>
</section>

</body>
</html>
